@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #000000;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-image: url("img/ofuro.png");
}

#room {
  position: relative;
  width: 100%;
  height: 100%;
}

/* 透明ボタン共通 */
.hit {
  position: absolute;
  background: transparent;
  cursor: pointer;
  z-index: 100;
}
/* アヒルの位置とサイズ */

.zyaguti {
  top: 65%;
  left: 89%;
  width: 11%;
  height: 20%;
  z-index: 5;
}


.ahiru {
  top: 70%;
  left: 75%;
  width: 25%;
  height: 30%;
  z-index: 5;
}

.ahiru2 {
  top: 49%;
  left: 7%;
  width: 5%;   /* 小さすぎる場合は大きめに調整 */
  height: 16%;
  z-index: 10;
}

.hamigakiko {
  top: 40%;
  left: 77%;
  width: 5%;
  height: 20%;
  z-index: 5;
}

.haburasi {
  top: 25%;
  left: 71%;
  width: 5%;
  height: 30%;
  z-index: 5;
}


.shanpu {
  top: 33%;
  left: 24%;
  width: 8%;   /* 小さすぎる場合は大きめに調整 */
  height: 20%;
  z-index: 10;
}


.shawar {
  top: 0%;
  left: 45%;
  width: 6%;   /* 小さすぎる場合は大きめに調整 */
  height: 45%;
  z-index: 10;
}








/* 左向き三角形 */
.triangle-left {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 50px solid #FFFFFF;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.triangle-left:hover {
  opacity: 1;
}

/* 右向き三角形 */
.triangle-right {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 50px solid #ffffff;
  position: absolute;
  top: 50%;
  left: 98%;
  transform: translate(-100%, -50%); /* 左端基準で右向きに */
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.triangle-right:hover {
  opacity: 1;
}