@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #000000;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-image: url("img/park.png");
}

#room {
  position: relative;
  width: 100%;
  height: 100%;
}

/* 透明ボタン共通 */
.hit {
  position: absolute;
  background: transparent;
  cursor: pointer;
  z-index: 100;
}

/* アヒルの位置とサイズ */
.boll {
  top: 87%;
  left: 86%;
  width: 2%;
  height: 4%;
  z-index: 5;
}

.glob {
  top: 84%;
  left: 85%;
  width: 6%;   /* 小さすぎる場合は大きめに調整 */
  height: 8%;
  z-index: 10;
}

.gomi {
  top: 58%;
  left: 22%;
  width: 8%;
  height: 10%;
  z-index: 5;
}
.sinngou {
  top: 45%;
  left: 55%;
  width: 4%;
  height: 4%;
  z-index: 5;
}

.herumetto {
  top: 79%;
  left: 76%;
  width: 7%;
  height: 10%;
  z-index: 5;
}.suberidai {
  top: 0%;
  left: 0%;
  width: 35%;
  height: 30%;
  z-index: 5;
}
.suberidai2 {
  top: 72%;
  left: 40%;
  width: 20%;
  height: 28%;
  z-index: 5;
}
.suberidai3 {
  top: 30%;
  left: 30%;
  width: 20%;
  height: 43%;
  z-index: 5;
}




/* 左向き三角形 */
.triangle-left {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 50px solid #ffffff;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.triangle-left:hover {
  opacity: 1;
}

/* 右向き三角形 */
.triangle-right {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 50px solid #ffffff;
  position: absolute;
  top: 50%;
  left: 98%;
  transform: translate(-100%, -50%); /* 左端基準で右向きに */
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.triangle-right:hover {
  opacity: 1;
}