@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #000000;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-image: url("img/myroom.png");
}

#room {
  position: relative;
  width: 100%;
  height: 100%;
}

/* 透明ボタン共通 */
.hit {
  position: absolute;
  background: transparent;
  cursor: pointer;
  z-index: 100;
}
/* アヒルの位置とサイズ */
.supana{
  top: 0.5%;
  left: 62%;
  width: 10%;
  height: 12%;
  z-index: 5;
}

.tonkati {
  top: 0.5%;
  left: 85%;
  width: 10%;   /* 小さすぎる場合は大きめに調整 */
  height: 12%;
  z-index: 10;
}


 
.cake{
  top: 85%;
  left: 68%;
  width: 13%;
  height: 14%;
  z-index: 5;
}
 .sennbei{
  top: 85%;
  left: 90%;
  width: 10%;
  height: 14%;
  z-index: 5;
}
.tokei{
  top: 0.5%;
  left: 33%;
  width: 7%;
  height: 12%;
  z-index: 5;
}.dannberu{
  top: 53%;
  left: 48%;
  width: 10%;
  height: 12%;
  z-index: 5;
}.kuma{
  top: 58%;
  left: 0%;
  width: 15%;
  height: 42%;
  z-index: 5;
}.surippa{
  top: 70%;
  left: 58%;
  width: 10%;
  height: 15%;
  z-index: 5;
}






/* 左向き三角形 */
.triangle-left {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 50px solid #ffffff;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.triangle-left:hover {
  opacity: 1;
}

/* 右向き三角形 */
.triangle-right {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 50px solid #ffffff;
  position: absolute;
  top: 50%;
  left: 98%;
  transform: translate(-100%, -50%); /* 左端基準で右向きに */
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.triangle-right:hover {
  opacity: 1;
}