@charset "utf-8";
/* CSS Document */

*{margin: 0;
padding: 0;}


body{height:auto;background:#000000;}


body{background-attachment: fixed;background-size: cover;
	background-position: center center;background-image: url;
}

img{width: 40%;margin-left:130px;}


/* PNGレイヤー */
.layer-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  object-fit: contain;
  pointer-events: none;
  opacity: 0;
  transition: opacity 360ms ease;
}

.layer-img.visible {
  opacity: 1;
}





